{% extends 'base.html' %}

{% load cloudinary %}

{% block content %}

    <script>
        function loadFile(event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>

    <main class="container py-5">
        <div class="row">
            <div class="m-auto w-75">
                <div class="d-flex justify-content-between">
                    <h1 class="text-center user-select-none">Create Recipe</h1>
                    <a href="{% url 'recipes' %}"><button class="btn btn-primary user-select-none"> go back </button></a>
                </div>
                {{ error }}

                <form method="POST" action="." id="submitForm" class="card card-body" enctype="multipart/form-data">

                    {% csrf_token %}
                    {{form}}
                    <img class="card-img-bottom w-50 h-50" src="https://res.cloudinary.com/dcmn0kkly/image/upload/v1674540661/media/OIP_xf4owa.webp" alt="image to upload" id="output">
                    <button id="submitButton" type="submit" class="btn btn-primary mx-1 my-3 user-select-none">Create</button>
                </form>
            </div>
        </div>
    </main>

    <script>
        const submitForm = document.getElementById("submitForm")
        const submitButton = document.getElementById("submitButton")
        submitForm.addEventListener("submit", (e)=> {
            submitButton.disabled = true
        })
    </script>

{% endblock content %}

