{% extends 'base.html' %}

{% block content %}
    
<main class="container py-5  m-auto">
    <div class="row  m-auto">
        <div class="m-auto">
            <div class="card card-body w-100 m-auto">
                <div class="d-flex justify-content-between">
                    <div class="d-flex row align-items-center">
                        <h2 class="user-select-none text-wrap"> {{recipe.name}} </h2>
                        <Span><span>made by:</span><a href="{% url 'profile' recipe.user.id%}"><small>{{recipe.user.profile.nickname}}</small></a></Span>
                    </div>
                    <div class="d-flex align-items-center">
                        {% if user.is_authenticated and recipe.user == request.user %}
                        <a href="{% url 'editRecipe' recipe.id %}"><button class="btn btn-warning user-select-none"> edit </button></a>
                        <a href="{% url 'deleteRecipe' recipe.id %}"><button class="btn btn-danger user-select-none"> delete </button></a>
                        {% endif %}
                        <a href="{% url 'recipes' %}"><button class="btn btn-primary user-select-none text-nowrap"> go back </button></a>
                    </div>
                </div>
                <hr>
                    {% if recipe.description %}
                    <p>{{recipe.description}}</p>
                    {% else %}
                    <p>no description added...</p>
                    {% endif %}
                <hr>
                <div class="d-flex">
                    <img class="card-img-left user-select-none ratio ratio-1x1 h-25 w-25" src="{{recipe.photo.url}}" alt="{{recipe.name}}">
                    <div class="d-flex flex-column mx-2">
                        <h3 class="text-decoration-underline">Ingredients: </h3>
                        <p class="card-body user-select-none" style="white-space: pre-wrap; max-width: 25rem;">{{recipe.ingredients}}</p>
                    </div>
                </div>
                <div class="card card-body my-2">
                    <h3 class="card-title text-decoration-underline">Preparation:</h3>
                    <p class="card-body user-select-none" style="white-space: pre-wrap;">{{recipe.preparation}}</p>
                </div>
            </div>
        </div>
    </div>
</main>
    

{% endblock content %}