{% extends 'base.html' %}

{% block content %}
    
<main class="container py-5 ">
    <div class="row ">
        <div class="m-auto">
            <div class="card card-body w-75">
                <div class="d-flex justify-content-between">
                    <h1 class="text-center user-select-none"> {{recipe.name}}</h1>
                    <div class="d-flex align-items-center">
                        {% if user.is_authenticated and recipe.user == request.user %}
                        <a href="{% url 'editRecipe' recipe.id %}"><button class="btn btn-warning user-select-none"> edit </button></a>
                        <a href="{% url 'deleteRecipe' recipe.id %}"><button class="btn btn-danger user-select-none"> delete </button></a>
                        {% endif %}
                        <a href="{% url 'recipes' %}"><button class="btn btn-primary user-select-none"> go back </button></a>
                    </div>
                </div>
                <hr>
                <div class="d-flex">
                    <img class="card-img-left user-select-none" src="{{recipe.photo.url}}" alt="{{recipe.name}}">
                    <p class="card-body user-select-none">{{recipe.ingredients}}</p>
                </div>
            </div>
        </div>
    </div>
</main>
    

{% endblock content %}