{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-center user-select-none">Sign Up</h1>
            {{error}}
            <form action="/signup/" method="POST" class="card card-body">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label user-select-none">Username: </label>
                    <input type="text"
                    class="form-control" name="username" id="username" aria-describedby="helpId" placeholder="enter username...">
                    <small id="helpId" class="form-text text-muted user-select-none">the username you will use to login</small>
                </div>
                <div class="mb-3">
                    <label for="password1" class="form-label user-select-none">Password: </label>
                    <input type="password"
                    class="form-control" name="password1" id="password1" aria-describedby="helpId" placeholder="enter password...">
                    <small id="helpId" class="form-text text-muted user-select-none">min 8 characters, at least 1 number and 1 letter</small>
                </div>
                <div class="mb-3 row">
                    <div class="mb-3">
                        <label for="password2" class="form-label user-select-none">Confirm Password: </label>
                        <input type="password"
                        class="form-control" name="password2" id="password2" aria-describedby="helpId" placeholder="enter password again...">
                        <small id="helpId" class="form-text text-muted user-select-none">same as above!</small>
                    </div>
                </div>
                <button class="btn btn-primary user-select-none">Sign Up</button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}